from Experimentalist.Core import Action
import numpy as np


class @@@CNAME@@@(Action):

    def __init__(self) -> None:
        super().__init__("@@@NAME@@@")

    def process(self, audio: np.ndarray, sample_rate: float) -> np.ndarray:
        audio = super().process(audio, sample_rate)
        return audio
