from Experimentalist.Core import Worker


class @@@CNAME@@@(Worker):

    def __init__(self, filePath: str) -> None:
        super().__init__(filePath, "@@@NAME@@@")

    def process(self) -> None:
        # do work here
        super().process()
